* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    font-family: "Poppins", sans-serif;
    color:#171717;
    font-weight: 500;
}
header {
    margin: 0 9rem;
}
footer {
    border-top: solid 2px #CCCCCC;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}
.logo__img {
    height: 55px;
    width: 55px;
    border-radius: 4px;
}
.logo__title {
    font-weight: 700;
    font-size: 24px;
}
.section {
    border-top: solid 2px #CCCCCC;
    padding: 2rem 5rem;
}
.h-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: 60%;
    padding-top: 1rem;
}
.v-post {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.v-post__date {
    font-weight: 400;
    font-size: 16px;
}
.v-post__img {
    border-radius: 8px;
    margin-bottom: 1.5rem;
    object-fit: cover;
    width: 100%;
}
.v-post--small {
    width: 45%;
}
.v-post--small .v-post__img {
    height: 15rem;
}
.aside-container {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.categoria {
    border-radius: 8px;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
}
.categoria:not(:first-of-type) {
    margin-top: 2rem;
}
.categoria__img {
    height: 100%;
    margin-left: 2rem;
    object-fit: cover;
}
.categoria__text {
    font-size: 32px;
    margin-right: 1rem;
    text-align: right;
    color: #ffffff;
    font-weight: 700;
}
.categoria--html {
    background-color: #E93E30;
}
.categoria--js {
    background-color: #F7E018;
}
.categoria--css {
    background-color: #299ED5;
}
.categoria--react {
    background-color: #292C33;
}
.categoria--vue {
    background-color: #67C770;
}
.categoria--bootstrap {
    background-color: #563D7C;
}
.categoria__text--black{
    color:#171717 ;
    font-weight: 400;
    font-size: 20px;
}
.h-post {
    display: flex;
    flex-direction: row;
    height: 8rem;
}
.h-post:not(:first-of-type) {
    padding-top: 1rem;
}
.h-post__content {
    display: flex;
    flex-direction: column;
}
.h-post__img {
    height: 100%;
    border-radius: 8px;
    margin-right: 1rem;
    width: 8.5rem;
    object-fit: cover;
}
.h-post__date {
    font-weight: 400;
    font-size: 16px;
}
.user {
    display: flex;
    margin-top: 0.8rem;
    flex-direction: row;
    align-self: baseline;
    align-items: center;
    height: 3rem;
}
.user__img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 1rem;
}
.user__img--small {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}
.user__text {
    font-size:24px ;
}
.user__text--small {
    font-size:16px ;
}
.user-small {
    height: 2rem;
}
.v-post__title,
.h-post__title {
    font-weight: 700;
}
.footer__text {
    font-weight: 400;
    font-size: 20px;
}
.section__title,.aside-container__title{
    margin: 0 4rem;
    width: 100%;
    font-size: 28px;
}
.aside-container__title {
    padding: 1rem 0;
}
.posts-container__title{
    width: 100%;
    font-size: 28px;
}